.containerTickets{
    width: 100%;
    min-height: 100vh;
    border: solid 1px red;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.ticket{
    background-image: linear-gradient(to right bottom,#AC13E5,#16A3E2);
    height: 100px;
    /* width: 200px; */
    margin: 10px;
    color: white;
    flex: 1 15%;
    padding: 5px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ticket span{
    display: block;
    width: 160px;
    height: 60px;
    border: dashed white 2px;
    text-align: center;
    font-weight: bold;
    /* height: 100%; */
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.leftCric{
    background-color: black;
    width: 20px;
    height: 27px;
    border-radius: 0px 30px 30px 0px;
    position: relative;
    left:-15%;
}

.rightCric{
    background-color: black;
    width: 20px;
    height: 27px;
    border-radius: 30px 0px 0px 30px;
    position: relative;
    right:-15%;
}